[Unit]
Description=smtp-relay
After=network-online.target
Wants=network-online.target

[Container]
AddCapability=NET_BIND_SERVICE
ContainerName=smtp-relay
Environment=SMTP_RELAY_METRICS_PORT=8080
Environment=SMTP_RELAY_SERVER_PORT=465
Environment=SMTP_RELAY_SMTP_PORT=25
Environment=TZ=America/New_York
EnvironmentFile=./smtp-relay/config/config.sops.env
Image=ghcr.io/foxcpp/maddy:0.7.1@sha256:6ab538e2f28baf2324f7cb418c7f9476fd9c7e9fa9b14bc3aecf51a9f6962064
IP=192.168.1.129
Network=containernet
Tmpfs=/cache/run:rw,mode=1750
Tmpfs=/cache/state:rw,mode=1750
Volume=./smtp-relay/config/maddy.conf:/data/maddy.conf:ro

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
