[Unit]
Description=bind
After=network-online.target
Wants=network-online.target

[Container]
AddCapability=NET_BIND_SERVICE
ContainerName=bind
Environment=BIND9_USER=root
Environment=TZ=America/New_York
IP=192.168.1.123
Image=docker.io/ubuntu/bind9:9.18-22.04_beta@sha256:1dc6d428e149fcba4a43894e15f229c65c34180ab7c7010e94667ea46877f5ea
Network=containernet
Volume=./bind/cache:/var/cache/bind
Volume=./bind/config:/etc/bind:ro

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
