[Unit]
Description=op-connect-api

[Container]
ContainerName=op-connect-api
Image=docker.io/1password/connect-api:1.7.2@sha256:6aa94cf713f99c0fa58c12ffdd1b160404b4c13a7f501a73a791aa84b608c5a1
Environment=OP_HTTP_PORT=8081
Environment=OP_SESSION=/config/1password-credentials.json
Environment=XDG_DATA_HOME=/data
Volume=./op-connect-api/config/1password-credentials.json:/config/1password-credentials.json:ro
Volume=./op-connect-api/cache:/data
Network=host
User=root

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
