[Unit]
Description=blocky

[Container]
AddCapability=NET_BIND_SERVICE
ContainerName=blocky
Environment=TZ=America/New_York
IP=192.168.1.122
Image=ghcr.io/0xerr0r/blocky:v0.23@sha256:450d193393c0dceb108d1cd80a5580ab9d851127c924c1ae89361d32161ae528
Label=traefik.enable="true"
Label=traefik.http.routers.blocky.entrypoints="web"
Label=traefik.http.routers.blocky.rule=Host'(`blocky.turbo.ac`)'
Label=traefik.http.services.blocky.loadbalancer.server.port="4000"
Network=containernet
Volume=./blocky/config/config.yaml:/app/config.yml:ro

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
