[Unit]
Description=podman-exporter
Requires=podman.socket
After=podman.socket

[Container]
ContainerName=podman-exporter
Image=quay.io/navidys/prometheus-podman-exporter:v1.11.0@sha256:60fb0840dbea021620ec559b4affe25a82cdcdf2567034e028cc6ce565ef309e
Environment=CONTAINER_HOST=unix:///run/podman/podman.sock
Volume=/run/podman/podman.sock:/run/podman/podman.sock
Exec=--collector.enhance-metrics
Network=host
SecurityLabelDisable=true
User=root

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
