[Unit]
Description=gatus
After=network-online.target
Wants=network-online.target

[Container]
AddCapability=NET_BIND_SERVICE
AddCapability=NET_RAW
ContainerName=gatus
Environment=GATUS_CONFIG_PATH=/config
Environment=TZ=America/New_York
EnvironmentFile=./gatus/config/config.sops.env
Image=ghcr.io/twin/gatus:v5.11.0@sha256:eb0374eb55e3ff84ec8f9ea10342ddb623cfba23e5836138896cde01f11cf23d
IP=192.168.1.127
Network=containernet
Volume=./gatus/config:/config:ro

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
