[Unit]
Description=podman-exporter
After=podman.socket
Requires=podman.socket

[Container]
ContainerName=podman-exporter
Environment=CONTAINER_HOST=unix:///run/podman/podman.sock
Environment=TZ=America/New_York
Exec=--collector.enhance-metrics
Image=quay.io/navidys/prometheus-podman-exporter:v1.13.3@sha256:e0f44a6cbe172131ed6b7ab467ffa5549a7b7b87216c3fb01ac6ded31addee53
Network=host
SecurityLabelDisable=true
User=root
Volume=/run/podman/podman.sock:/run/podman/podman.sock

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
