[Unit]
Description=traefik
After=network-online.target
Wants=network-online.target

[Container]
AddCapability=NET_BIND_SERVICE
ContainerName=traefik
Environment=TZ=America/New_York
EnvironmentFile=./traefik/config/config.sops.env
Image=docker.io/library/traefik:v3.0.1@sha256:9ad110e745f68e15c09a4d6ccc0dc3cd674ab21466c0884b8e7823a445ac4d25
IP=192.168.1.126
Network=containernet
SecurityLabelType=container_runtime_t
Volume=./traefik/cache:/data
Volume=./traefik/config/traefik.yaml:/etc/traefik/traefik.yaml:ro
Volume=/run/podman/podman.sock:/var/run/docker.sock:z

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
