[Unit]
Description=traefik

[Container]
ContainerName=traefik
Image=docker.io/library/traefik:v3.0.0
EnvironmentFile=./traefik/config/config.sops.env
Volume=./traefik/config/traefik.yaml:/etc/traefik/traefik.yaml:ro
Volume=./traefik/cache:/data
Volume=/run/podman/podman.sock:/var/run/docker.sock:z
Network=containernet
IP=192.168.1.126
AddCapability=NET_BIND_SERVICE
SecurityLabelType=container_runtime_t

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
