[Unit]
Description=blocky
Requires=bind.service
After=bind.service

[Container]
ContainerName=blocky
Image=ghcr.io/0xerr0r/blocky:v0.23@sha256:450d193393c0dceb108d1cd80a5580ab9d851127c924c1ae89361d32161ae528
Environment=TZ=America/New_York
Volume=./blocky/config/config.yaml:/app/config.yml:ro
Network=containernet
IP=192.168.1.122
AddCapability=NET_BIND_SERVICE

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
