[Unit]
Description=node-exporter

[Container]
ContainerName=node-exporter
Environment=TZ=America/New_York
Exec=--path.rootfs=/host
Image=quay.io/prometheus/node-exporter:v1.8.0@sha256:8a57af80a4c77ffb97749b44895248563616fcfd405b5370d5db35fe6c15e4ec
Network=host
Volume=/:/host:ro,rslave

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
