[Unit]
Description=node-exporter

[Container]
ContainerName=node-exporter
Environment=TZ=America/New_York
Exec=--path.rootfs=/host
Image=quay.io/prometheus/node-exporter:v1.8.1@sha256:fa7fa12a57eff607176d5c363d8bb08dfbf636b36ac3cb5613a202f3c61a6631
Network=host
Volume=/:/host:ro,rslave

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
