[Unit]
Description=ntpd-rs

[Container]
AddCapability=NET_BIND_SERVICE
ContainerName=ntpd-rs
Environment=TZ=America/New_York
Image=ghcr.io/onedr0p/ntpd-rs:1.1.2@sha256:56a7aa8e3131a7e5a1d93ddea002851a240d093c543093f97945a3ebcffaed3c
IP=192.168.1.130
Network=containernet

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
