[Unit]
Description=tftpd

[Container]
ContainerName=tftpd
Image=ghcr.io/onedr0p/tftp-hpa:5.2@sha256:a7fa4bde9e2d921b681f7d7f8f5fa702d0e4c1467c09b29f6308925f0a80a7f8
Volume=./tftpd/config:/config
Network=host
AddCapability=NET_BIND_SERVICE

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
