[Unit]
Description=tftpd

[Container]
ContainerName=tftpd
Image=ghcr.io/wastrachan/tftpd:latest@sha256:34cafee65b9757ed397f6dce36dd27166257b41076b0b6f139621fe506eddcdd
Volume=./tftpd/config:/data
Network=host

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
