[Unit]
Description=traefik

[Container]
ContainerName=traefik
Image=docker.io/library/traefik:v3.0.0@sha256:7996bdae8aaa70eaacf2978b6c949de5b68c0a24ddc3e40c06344ecc88cfaea3
# Environment=CF_API_EMAIL=
# Environment=CF_API_KEY=
Volume=./traefik/config/traefik.yaml:/etc/traefik/traefik.yaml:ro
Volume=./traefik/cache:/data
Network=host
User=root

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
