[Unit]
Description=onepassword-sync
Requires=onepassword-connect.service
After=onepassword-connect.service

[Container]
ContainerName=onepassword-sync
Image=docker.io/1password/connect-sync:1.7.2@sha256:fe527ed9d81f193d8dfbba4140d61f9e8c8dceb0966b3009259087504e5ff79c
Environment=OP_SESSION=/config/1password-credentials.json
Environment=XDG_DATA_HOME=/data
Volume=./onepassword-connect/config/1password-credentials.json:/config/1password-credentials.json:ro
Volume=./onepassword-connect/cache:/data
Network=host
User=root

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
